<section class="p-4 m-auto">
  <h1 class="mb-3 text-center">All calculators at one place !</h1>
  <div
    class="container shadow-sm rounded-4 d-flex justify-content-center min-vh-100"
  >
    <section class="row d-flex justify-content-center gap-3 w-100">
      <mat-card
        class="col-12 col-sm-6 col-md-4 col-lg-3 
        CalculatorHome__card mat-elevation-z8 mb-3 d-flex flex-column"
        appearance="outlined"
      >
        <img mat-card-image src="assets/images/Income_Tax_Calculator.png" />
        <mat-card-content>
          <h2><strong>Income Tax Calculator</strong></h2>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="'/income-tax-calculator'"
          >
            <mat-icon>favorite</mat-icon>Calculate
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card
        class="col-12 col-sm-6 col-md-4 col-lg-3 CalculatorHome__card mat-elevation-z8 mb-3 d-flex flex-column"
        appearance="outlined"
      >
        <img mat-card-image src="assets/images/PPF_Calculator2.png" />
        <mat-card-content>
          <h2><strong>PPF Calculator</strong></h2>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="'/ppf-calculator'"
          >
            <mat-icon>card_giftcard</mat-icon>Calculate
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card
        class="col-12 col-sm-6 col-md-4 col-lg-3 CalculatorHome__card mat-elevation-z8 mb-3 d-flex flex-column"
        appearance="outlined"
      >
        <img mat-card-image src="assets/images/SIP_Calculator.png" />
        <mat-card-content>
          <h2><strong>SIP Calculator</strong></h2>
        </mat-card-content>
        <mat-card-actions class="mt-auto text">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="'/sip-calculator'"
          >
            <mat-icon>adb</mat-icon>Calculate
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card
        class="col-12 col-sm-6 col-md-4 col-lg-3 CalculatorHome__card mat-elevation-z8 mb-3 d-flex flex-column"
        appearance="outlined"
      >
        <img mat-card-image src="assets/images/Home_Loan_Calculator.png" />
        <mat-card-content>
          <h2><strong>Home Loan Calculator</strong></h2>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <button
            mat-raised-button
            color="primary"
            [routerLink]="'/home-loan-calculator'"
          >
            <mat-icon>home</mat-icon>Calculate
          </button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</section>
